{% if config.plugins.taxonomylist.enabled %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}
<aside class="tagcloud">
    <h2 class="tagcloud__title">Tags</h4>
    {% include 'partials/taxonomylist.html.twig' with { 'base_url':new_base_url, 'taxonomy':'tag' } %}
</aside>
{% endif %}